# Data Types

## String (str)

In [11]:
x = 'String with single quotation'
print(type(x))
print(x)

<class 'str'>
String with single quotation

In [12]:
x = "String with double quotation"
print(x)

string with double quotation

In [18]:
#Triple quotation can be done with either double quotations """<mystring>""" or single quotations '''<mystring>'''.
x = '''String with triple quotation.
Allows for typing one more than one line.
A newline sympbol is automatically added.\nLike that.'''
print(x)

String with triple quotation.
Allows for typing one more than one line.
A newline sympbol is automatically added.
Like that.

In [22]:
# concatenating strings
concatenate = "Hello" + " " + "all" + " " + "you" + " " + "beautiful" + " people."
print(concatenate)

# multiply strings
concatenate = "Hello " * 2 +  "all" + " " + "you" + " " + "beautiful" + " people."
print(concatenate)

Hello all you beautiful people.
Hello Hello all you beautiful people.

In [23]:
# Notice that whyn you run type(<string>) you are told that the string is a 'class', not a primitive data type.
# Why? When you create a string in Python, the primitive data is automatically 'wrapped' in a class, which comes with methods.
# This is why you can call methods on a string. The dir() function below prints out the attributes and methods of a string.
print(dir(concatenate))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [25]:
print(concatenate.replace("beautiful","funky"))

Hello Hello all you funky people.

In [43]:
# convert to string
print(type(str(12)))

<class 'str'>

## Numeric (int)

ref. https://github.com/peterthorsteinson/Py_Jupyter/blob/master/03_Data_Types.ipynb

In [30]:
x = 1234
print(type(x))

<class 'int'>

In [40]:
#convert to int
print(int("34"))

34

In [ ]:
#arithmetic operators

result = 1 + 2 * 3 / 4
print(result)

result = 1 + (2 * 3) / 4
print(result)

result = 1 + 2 * (3 / 4)
print(result)

result = (1 + 2) * 3 / 4 #different from above
print(result)

#modulo operator
remainder = 10 % 3
print(remainder)

#power operator
print((3 ** 1))
print((3 ** 2))
print((3 ** 3))

#division operator
print(10 / 3)
print(10 // 3)
print(10.0 / 3)
print(10.0 // 3) # floor division float truncation

## Boolean (bool)

In [35]:
x = True
print(type(x))

<class 'bool'>

In [36]:
x = 1
y = 4
print(x==y)

False

In [38]:
if x==1:
    print("This is True")
else:
    print("This is False")

This is True

In [39]:
# If an object exists then it will return true
x = 7

if x:
    print("This is True")
#elif condition:
#   action
else:
    print("This is False")

This is True

## List

In [44]:
mylist = []
dir(mylist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [62]:
mylist.append("Hello")
mylist.append(1)
mylist.append(1244)
print(mylist)

['Hello', 1, 1244]

In [63]:
print(mylist[0])
print(mylist[1])
print(mylist[0:2]) # does not include first number in range (from:to]

Hello
1
['Hello', 1]

In [64]:
for i in mylist:
    print(i)

Hello
1
1244

In [65]:
mylist.append(["my","name","is"]) #embeds a list inside the list
print(mylist)

['Hello', 1, 1244, ['my', 'name', 'is']]

In [57]:
mylist.extend(["four","five","six"]) # adds list items to the first list instead of embedding the entire list in one index
print(mylist)

['Hello', 1, 1244, 'four', 'five', 'six', 'four', 'five', 'six']

In [66]:
# Extend is the same as usign the plus operator for two list
mynewlist = [1,2,3]
mynewestlist = mynewlist + [4,5,6]
print(mynewestlist)

[1, 2, 3, 4, 5, 6]

In [72]:
# list comprehensions: specify a built-in function for every item in a list. Below we square every number in a list.
hellolist = [1,2,3,4]
squaredlist = [i ** 2 for i in hellolist]
print(squaredlist)

[1, 4, 9, 16]

## Tuples (symbol = () )

In [ ]:
#Like a LIST except we use parentheses not square brackets. Unlke lists tuples are IMMUTABLE, YOU CANNOT ALTER ITS CONTENTS.
mytuple = (5,"Hello",9)
print(mytuple)
print(type(mytuple))

In [80]:
print(mytuple[0])

5

In [81]:
# changing a tuple is not possible because it is immutable
mytuple[1] = "Hello1"

TypeError: 'tuple' object does not support item assignment

## Dictionaries (symbol = {})

In [73]:
# DICTIONARIES: Python's most powerful data structure
# A "bag" of values, wach with it's own label
# In a list order matters so out indexes are in numerical order
# In a dictionary order does not matter so we index things using a "Lookup Tag"/Keys

#initialize dictionary
purse = dict() # same as purse = {}
purse["money"] = 12 # "money" is  the key, 12 is the value
purse["candy"] = 3
purse["tissues"] = 75
print(purse)
print(purse["candy"])

{'money': 12, 'candy': 3, 'tissues': 75}
3

In [74]:
# same as
purse = {"money":12, "candy":3, "tissues":75}
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}

In [77]:
mytuple = (5,"Hello",9)
print(mytuple)
print(type(mytuple))

(5, 'Hello', 9)
<class 'tuple'>

## Combining Tuples and Dictionaries

In [86]:
# If we call the items() method for a dictionary class, which will retrurn a LIST of TUPLES (wrapped in a dict_items class whose
# items can only be accessed in a loop)
print(purse.items())

dict_items([('money', 12), ('candy', 3), ('tissues', 75)])

dict_items

In [88]:
for a,b in purse.items():
    print(a,b)
    print("NEXT LOOP")

money 12
NEXT LOOP
candy 3
NEXT LOOP
tissues 75
NEXT LOOP

## Sets

In [89]:
# The data type "set", which is a collection type, has been part of Python since version 2.4. 
# A set contains an unordered collection of unique and immutable objects.
# The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. 
# This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.
programmers = set(["John", "Mary", "Sandra", "David"])

In [90]:
type(programmers)

set

In [92]:
badset = set([1,1,2,3,4])
print(badset) # note the duplicated 1 is now a single value

{1, 2, 3, 4}

## Arrays

In [97]:
# This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.
# This contrasts with Lists, which can hold data of multiple types
# If you create arrays using array module.
# Modules , like array, NumPy, and Pandas use the following command to get a list of installed modules > help("modules")
import array as arr

In [94]:
arr.array('d',[1,2,3]) #The type code 'd' is for decimal values
# Go to this link for a reference for a list of type codes: https://www.programiz.com/python-programming/array

array('d', [1.0, 2.0, 3.0])