# Pandas DataFrames - Group Rows

In [2]:
import pandas as pd
import numpy as np

df = pd.read_excel('Data\census.xlsx')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [6]:
# 3142 rows, that's a lot, we'll have to reduce it for the purpsoes of this example
df.shape

(3142, 100)

In [9]:
# Just confirming the number of columns
len(df.columns.values)

100

In [10]:
# Let's take a radom sample of the rows to reduce our dataset
df = df.sample(n=10)
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
186,50,3,7,5,143,Arkansas,Washington County,203065,203060,204026,...,5.763423,5.801883,10.908233,7.168967,9.211963,9.191373,8.872065,14.267128,10.975336,12.950540
1665,50,4,8,30,81,Montana,Ravalli County,40212,40212,40340,...,1.189046,5.455308,3.636721,3.964758,9.668877,2.006515,5.776209,4.054453,4.429760,10.130457
194,50,4,9,6,7,California,Butte County,220000,220000,219977,...,-1.213647,3.934509,2.711121,6.306773,3.043761,-0.454550,4.782151,3.608814,7.431862,4.205196
2038,50,2,4,38,27,North Dakota,Eddy County,2385,2385,2382,...,1.267695,20.740741,20.558003,-10.501995,4.225650,1.267695,20.740741,20.558003,-10.501995,4.225650
231,50,4,9,6,81,California,San Mateo County,718451,718498,719973,...,1.306740,3.763061,1.418074,-1.075282,-2.130665,7.234678,9.357314,7.535784,5.835160,4.715557
290,50,4,8,8,79,Colorado,Mineral County,712,712,704,...,0.000000,-4.222379,27.952481,-42.372881,46.446165,0.000000,-4.222379,27.952481,-42.372881,46.446165
750,50,2,3,18,77,Indiana,Jefferson County,32428,32428,32423,...,-2.533797,5.430423,-0.276842,1.014916,-3.449072,-2.039397,5.800679,0.153801,1.599262,-2.863962
512,50,3,5,13,233,Georgia,Polk County,41475,41475,41536,...,-11.108964,-8.447320,-3.988812,-6.134447,7.388029,-9.201121,-6.918063,-2.188982,-4.113974,9.398542
2177,50,3,7,40,19,Oklahoma,Carter County,47557,47726,47789,...,5.841670,-0.707067,8.666784,1.890107,-3.037611,6.238069,-0.207961,9.183895,2.465357,-2.442403
3099,50,2,3,55,5,Wisconsin,Barron County,45870,45870,45840,...,1.024523,-4.928472,-4.811057,-4.585495,-0.614939,1.504087,-3.859909,-3.630161,-3.225205,0.746711

## What if we want to know the average 2010 population for each state?

### Option 1/4: The Slow Way

In [11]:
# If we timed this, we would see that it takes TOO LONG
for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print('Countries in state ' + state + ' have an average population of ' + str(avg))

Countries in state Arkansas have an average population of 203065.0
Countries in state Montana have an average population of 40212.0
Countries in state California have an average population of 469225.5
Countries in state North Dakota have an average population of 2385.0
Countries in state Colorado have an average population of 712.0
Countries in state Indiana have an average population of 32428.0
Countries in state Georgia have an average population of 41475.0
Countries in state Oklahoma have an average population of 47557.0
Countries in state Wisconsin have an average population of 45870.0

### Option 2/4: A Faster Way, Using the .groupby() method and using a for loop

In [12]:
df.groupby('STNAME')

In [16]:
for a in df.groupby('STNAME'):
    print(a)
    
# Note that the result is a tuple (tuple format is: (x,y) )
# In this case, the tuple looks like this: (STATENAME, dataframe of rows for that state)

('Arkansas',      SUMLEV  REGION  DIVISION  STATE  COUNTY    STNAME            CTYNAME  \
186      50       3         7      5     143  Arkansas  Washington County

     CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010     ...       \
186         203065             203060           204026     ...

     RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
186          5.763423          5.801883         10.908233          7.168967

     RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
186          9.211963     9.191373     8.872065    14.267128    10.975336

     RNETMIG2015
186     12.95054

[1 rows x 100 columns])
('California',      SUMLEV  REGION  DIVISION  STATE  COUNTY      STNAME           CTYNAME  \
194      50       4         9      6       7  California      Butte County
231      50       4         9      6      81  California  San Mateo County

     CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010     ...       \
194         220000             220000           219977     ...
231         718451             718498           719973     ...

     RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
194         -1.213647          3.934509          2.711121          6.306773
231          1.306740          3.763061          1.418074         -1.075282

     RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
194          3.043761    -0.454550     4.782151     3.608814     7.431862
231         -2.130665     7.234678     9.357314     7.535784     5.835160

     RNETMIG2015
194     4.205196
231     4.715557

[2 rows x 100 columns])
('Colorado',      SUMLEV  REGION  DIVISION  STATE  COUNTY    STNAME         CTYNAME  \
290      50       4         8      8      79  Colorado  Mineral County

     CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010     ...       \
290            712                712              704     ...

     RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
290               0.0         -4.222379         27.952481        -42.372881

     RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
290         46.446165          0.0    -4.222379    27.952481   -42.372881

     RNETMIG2015
290    46.446165

[1 rows x 100 columns])
('Georgia',      SUMLEV  REGION  DIVISION  STATE  COUNTY   STNAME      CTYNAME  \
512      50       3         5     13     233  Georgia  Polk County

     CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010     ...       \
512          41475              41475            41536     ...

     RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
512        -11.108964          -8.44732         -3.988812         -6.134447

     RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
512          7.388029    -9.201121    -6.918063    -2.188982    -4.113974

     RNETMIG2015
512     9.398542

[1 rows x 100 columns])
('Indiana',      SUMLEV  REGION  DIVISION  STATE  COUNTY   STNAME           CTYNAME  \
750      50       2         3     18      77  Indiana  Jefferson County

     CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010     ...       \
750          32428              32428            32423     ...

     RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
750         -2.533797          5.430423         -0.276842          1.014916

     RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
750         -3.449072    -2.039397     5.800679     0.153801     1.599262

     RNETMIG2015
750    -2.863962

[1 rows x 100 columns])
('Montana',       SUMLEV  REGION  DIVISION  STATE  COUNTY   STNAME         CTYNAME  \
1665      50       4         8     30      81  Montana  Ravalli County

      CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010     ...       \
1665          40212              40212            40340     ...

      RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
1665          1.189046          5.455308          3.636721          3.964758

      RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
1665          9.668877     2.006515     5.776209     4.054453      4.42976

      RNETMIG2015
1665    10.130457

[1 rows x 100 columns])
('North Dakota',       SUMLEV  REGION  DIVISION  STATE  COUNTY        STNAME      CTYNAME  \
2038      50       2         4     38      27  North Dakota  Eddy County

      CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010     ...       \
2038           2385               2385             2382     ...

      RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
2038          1.267695         20.740741         20.558003        -10.501995

      RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
2038           4.22565     1.267695    20.740741    20.558003   -10.501995

      RNETMIG2015
2038      4.22565

[1 rows x 100 columns])
('Oklahoma',       SUMLEV  REGION  DIVISION  STATE  COUNTY    STNAME        CTYNAME  \
2177      50       3         7     40      19  Oklahoma  Carter County

      CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010     ...       \
2177          47557              47726            47789     ...

      RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
2177           5.84167         -0.707067          8.666784          1.890107

      RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
2177         -3.037611     6.238069    -0.207961     9.183895     2.465357

      RNETMIG2015
2177    -2.442403

[1 rows x 100 columns])
('Wisconsin',       SUMLEV  REGION  DIVISION  STATE  COUNTY     STNAME        CTYNAME  \
3099      50       2         3     55       5  Wisconsin  Barron County

      CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010     ...       \
3099          45870              45870            45840     ...

      RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  RDOMESTICMIG2014  \
3099          1.024523         -4.928472         -4.811057         -4.585495

      RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
3099         -0.614939     1.504087    -3.859909    -3.630161    -3.225205

      RNETMIG2015
3099     0.746711

[1 rows x 100 columns])

In [17]:
for x,y in df.groupby('STNAME'):
    print(type(x))
    print(type(y))

<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>

In [18]:
# The result
for group, frame in df.groupby('STNAME'):
    avg = np.average(frame['CENSUS2010POP'])
    print('Countries in state ' + group +' have an average population of ' + str(avg))

Countries in state Arkansas have an average population of 203065.0
Countries in state California have an average population of 469225.5
Countries in state Colorado have an average population of 712.0
Countries in state Georgia have an average population of 41475.0
Countries in state Indiana have an average population of 32428.0
Countries in state Montana have an average population of 40212.0
Countries in state North Dakota have an average population of 2385.0
Countries in state Oklahoma have an average population of 47557.0
Countries in state Wisconsin have an average population of 45870.0

### Option 3/4: An EVEN FASTER Way, Using apply() instead of a for loop

In [22]:
# Using APPLY(): Could we do this even faster without a for loop?
groupdf = df.groupby('STNAME')
# Apply will apply on the second value ('y') in the  list of (x,y) tuples generated by groupby()
# The 'y', if you recall, is a dataframe of all values in the group specified by 'x'
groupdf.apply(lambda x: np.average(x['CENSUS2010POP']))

STNAME
Arkansas        203065.0
California      469225.5
Colorado           712.0
Georgia          41475.0
Indiana          32428.0
Montana          40212.0
North Dakota      2385.0
Oklahoma         47557.0
Wisconsin        45870.0
dtype: float64

### Option 4/4: The FASTEST Way, Using the .agg() method instead of the .apply() method

In [24]:
# JUst pass a dictionary with the column name and what we want to aggregate by
df.groupby('STNAME').agg({'CENSUS2010POP': np.average, 'ESTIMATESBASE2010': np.max})

              CENSUS2010POP  ESTIMATESBASE2010
STNAME
Arkansas           203065.0             203060
California         469225.5             718498
Colorado              712.0                712
Georgia             41475.0              41475
Indiana             32428.0              32428
Montana             40212.0              40212
North Dakota         2385.0               2385
Oklahoma            47557.0              47726
Wisconsin           45870.0              45870

## Grouping using a Function

In [25]:
# In order fo the groupby function to use a function we have to set the column we want to group by as an index

df2 = df.set_index('STNAME')

# If the first letter of the parameter is < 'M' return 0 etc
def grouping(item):
    if item[0] < 'M':
        return 'Less than M'
    if item[0] < 'Q':
        return 'Less than Q'
    return 'Other'

for group, frame in df2.groupby(grouping):
    print(group)

Less than M
Less than Q
Other

In [28]:
df2.groupby(grouping).agg({'CENSUS2010POP': np.average, 'ESTIMATESBASE2010': np.max})

             CENSUS2010POP  ESTIMATESBASE2010
Less than M  202688.500000             718498
Less than Q   30051.333333              47726
Other         45870.000000              45870